/*
Colors used:
Background Color (White): #FFFFFF;
Background Color 2 (Floral White): #FFFAF0;
Text Color (Almost Black): #212121;
Primary Color (Light Blue): #849ED6;
Supporting Color (Slate Blue): #6A5ACD;
*/

body {
  background-color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #212121;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

#hero h1 {
  text-align: center;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 700;
}

h4 {
  font-size: 1.35em;
  font-weight: 700;
}

span {
  font-size: 18px;
  font-weight: 400;
}

/* optimize headings on mobile device */
@media screen and (max-width: 720px) {
  h1{
    font-size: 20px;
  }
  h2{
    font-size: 18px;
  }
  h3{
    font-size: 16px;
  }
  h4{
    font-size: 14px;
  }
}

img {
  width: 100%;
}

a, a:visited {
  color: #849ED6;
}

a:hover, a:focus {
  color: #6A5ACD;
  font-weight: bold;
  text-decoration: underline;
  opacity: 80%;
  transition: 0.5s ease-in;
}

a:active {
  color: #212121;
}

header {
  background-color: #FFFFFF;
  text-align: center;
  padding: 10px 5px 15px 5px;
  position: relative;
  padding: 10px 0 4px;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

#work .row {
  padding-bottom: 25px; border-bottom: 1px solid #212121;
}

.logo {
  max-width: 50px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a, a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  color: #849ED6;
}

nav > ul > li > a:hover, a:focus {
  color: #849ED6;
  font-weight: 700;
  text-decoration: none;
}

nav > ul > li > a:active {
  color: #212121;
}

/* hide all list items except hamburger icon */
.navtoggle li:not(:last-child) {
  display: none;
}

/* position menu icon right and align with logo */
.navtoggle, .navtoggle.responsive {
  position: relative;

}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
  margin-top: 8px;
}

.navtoggle.responsive li  {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

/* override previous code and show complete menu */
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
}

/* style nav bar */
.navbar {
  overflow: hidden;
  background-color: #FFFFFF;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  padding: 0 120px;
  z-index: 1;
}

#hero {
  background-color: #FFFFFF;
  display: inline-block;
  width: 100%;
}

#profilepic {
  max-width: 80px;
  float: left;
  clip-path: circle();
  margin-right: 15px;
}

main {
  padding-top: 56px;
}

footer {
  background-color: #FFFAF0;
  font-size: 14px;
  text-align: center;
  border-top: 0.5px solid LightGray;
  margin-top: 40px;
}

footer p {
  margin: 0px;
}

a {
    text-decoration: none;
}

svg {
  width: 36px;
  height: auto;
  padding: 2px;
}

.austin {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes color-change {
  from {fill: #FFDF00;} /* golden yellow */
  to {fill: #CC5500;} /* burnt orange */
}

.cls-2 {
  animation: 4s color-change infinite alternate linear;
}

@keyframes texas-move {
  from {transform: translate(275px,400px);}
  to {transform: translate(325px,400px);}
}

.cls-9 {
  animation: 5s texas-move infinite alternate linear;
}

@keyframes heart-fade-in {
  0%   { fill: #FFFFFF; }
  50%  { fill: #FF0000; }
  100% { fill: #FFFFFF; }
}

.cls-8 {
  animation: heart-fade-in 2s infinite ease-out;
}

/* style lightbox */
#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  display: none;
}

#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lightbox img {
  max-width: 75%;
  max-height: auto;
}

.button {
  display: inline-block;
  background-color: transparent;
  color: #849ED6;
  border: 1px solid #849ED6;
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 3px;
  transition: 0.2s opacity;
}

.button:visited {
  color: #849ED6;
  text-decoration: none;
}

.button:hover {
  color: #FFFFFF;
  background-color: #849ED6;
  border: 1px solid #849ED6;
  opacity: 0.8;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #849ED6;
  text-transform: uppercase;
  border: 2px solid #849ED6;
  margin: 14px;
}

.button.contact:hover {
  background-color: #849ED6;
  color: #FFFFFF;
  transition: 1s ease-in-out;
}

/* medium screens */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 8px;
  }

  nav > ul {
     margin: 1em 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  /* hide hamburger icon */
  .navtoggle li:last-child {
    display: none;
  }

  main {
    padding-top: 99px;
  }

  body {
    font-size: 16px;
  }

  #hero span {
    text-align: center;
    display: block;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #home-page h3 {
    margin: 0;
  }

  #about-page h3 {
    margin-top: 0;
  }

  .logo {
    max-width: 70px;
  }

  #floating-img {
    max-width: 600px;
    float: right;
    padding: 20px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    justify-content: center;
    grid-gap: 5px;
  }

  .grid img {
    width: 400px;
    height: auto;
    cursor: pointer;
  }
}

/* large screens */
@media only screen and (min-width: 1024px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 8px;
  }

  nav > ul {
     margin: 1em 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  /* hide hamburger icon */
  .navtoggle li:last-child {
    display: none;
  }

  main {
    padding-top: 99px;
  }

  body {
    font-size: 17px;
  }

  #hero span {
    text-align: center;
    display: block;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  [class*="col-"] {
    float: left;
    padding: 15px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #home-page h3 {
    margin: 0;
  }

  #about-page h3 {
    margin-top: 0;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .logo {
    max-width: 70px;
  }

  #floating-img {
    max-width: 600px;
    float: right;
    padding: 20px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    justify-content: center;
    grid-gap: 5px;
  }

  .grid img {
    width: 500px;
    height: auto;
    cursor: pointer;
  }
}
