/*
Colors used:
Background Color (White): #FFFFFF;
Text Color (Almost Black): #212121;
Primary Color (Light Blue): #849ED6;
Supporting Color (Slate Blue): #6A5ACD;
*/

body {
  background-color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

@media screen and (max-width: 720px) {
  h1{
    font-size: 20px;
  }
  h2{
    font-size: 18px;
  }
  h3{
    font-size: 16px;
  }
  h4{
    font-size: 14px;
  }
}

img {
  width: 100%;
}

a, a:visited {
  color: #849ED6;
}

a:hover, a:focus {
  color: #6A5ACD;
  font-weight: bold;
}

a:active {
  color: #212121;
}

footer {
  font-size: 14px;
}

.button:hover {
  opacity: 0.8; 
  text-decoration: none;
}

.button {
  display: inline-block;
  background-color: #849ED6;
  color: #FFFFFF; /* override default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #6A5ACD; /* width of border, type, color */
  transition: 0.2s opacity;
}
